*{
    text-decoration: none;
    font-family: 'Fira Code', monospace;
    padding: 5px;
    font-weight: bolder;
}
body{
    background-image: linear-gradient(to left, rgb(200, 140, 79) , rgb(130, 188, 53));
}
  
.forma_registro{
    background-image: linear-gradient(to right, rgb(200, 140, 79) , rgb(130, 188, 53));
    border-radius: 0px;
    border-style: solid;
    box-shadow: #1f53c5;
    font-family: 'Fira Code', monospace;
    color: rgb(209, 209, 209);
  }
.campo{
      width: 100%;
      background: 24303c;
      font-family: 'Fira Code', monospace;
 
  }
.forma_registro p{
    text-align: center;
  
  }
.forma_registro a:hover{
    color: white;
    text-decoration: none;
  }
.forma_registro a:hover{
    color: white;
    text-decoration: underline;
  }
  
.errores{
    display: none;
    color: rgb(225, 12, 12);
    border: 1px soild #f30000;
    box-shadow: 7px 13px 37px rgb(255, 0, 0);
  }
  
#mensaje2{
    padding-top: -6%;
    color: #1f53c5;
    display: none;
  }
.label{
    width: 100%;
    background: 24303c;
    padding: 10px;
    border-radius: 4px;
    margin-bottom: 1px;
    border: 100px soild #000000;
    font-family: 'Fira Code', monospace;
    font-size: 18px;
    box-shadow: 7px 13px 37px rgb(0, 0, 0);
  }