*{
    font-family: 'Fira Code', monospace;
    padding: 7px;
    font-weight: bolder;
    text-decoration: none;
    text-decoration-line: none;
}

body{
    background-image: linear-gradient(to left, rgb(200, 140, 79) , rgb(130, 188, 53));
}
a{
  text-decoration-line: none;
  color: rgb(0, 114, 163);
}
img{
  border-radius: 15px;
}
#mac_des, #mac_des1, #mac_des2, #mac_des3, #descripcion1, #descripcion2, #descripcion3{
  background-color: #DFD4D7;
  color: rgb(34, 34, 34);
  border-radius: 15px;
}
#Title{
  text-transform: uppercase;
  font-weight: 1000;
  text-align: center;
}
.logDiv{
  background-image: url(sarah-dorweiler-x2Tmfd1-SgA-unsplash.jpg);
  background-repeat: repeat;
  background-attachment: fixed;
  background-position: 0px -1100px;
}
.nav-border{
  border-radius: 15px;
}
.footer{
  border-radius: 15px;
  background-color: aliceblue;
  color: black;
}
.control{
    border-radius: 15px;
    width: 70%;
    border-style: none;
  }
.label{
    font-size: large;
    font-weight: 1000;
  }
.login{
  border-radius: 10px;
  border-style: none;
  background-color: rgb(198, 198, 198);
}
.inline-img {
  width: 30px;
  height: 30px;
  position: left;
}
.inline-imgx{
  width: 50px;
  height: 40px;
  position: left;
}
input.larger {
    width: 15px;
    height: 15px;
}